{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="content">
        {% if name is defined %}
            <h1>
                Bonjour {{ name }}
            </h1>
        {% endif %}

        {{ dump(contacts) }}

        <div id="contactName">
            Récupéré depuis l'API
        </div>

        <script>
            fetch('/contact/api').then((data) => {
                (data.json().then((data) => {
                    if (data) {
                        document.getElementById("contactName").innerText = "Le nom du premier contact est : " + data[0].name;
                    }
                }));
            });
        </script>

        <ul>
            {% for contact in contacts %}
                <li>La personne <strong>{{ contact.name }} {{ contact.firstname }}</strong> vous a demandé quelque chose </li>
            {% endfor %}
        </ul>

        {% if city is defined and city is not empty %}
            <p>
                Vous êtes sur la ville de {{ city }}
            </p>
        {% endif %}
    </div>
{% endblock %}
