{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('contact') }}
    {% endblock %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {# header #}
        <header> {% include './includes/header.html.twig' %} </header>

        <h1>Contact! ✅</h1>


        {# body #}
        {% include './includes/body.html.twig' %}


        {% if name is defined %}
            <p>Salut {{ name }}, mon nom est Enzo</p>
        {% endif %}

        {% if type is defined %}
            <p>Tu habites dans la ville de {{ type }}, {% if type is same as 'Montpellier' %}comme moi!{% else %}<p> moi
            j'habite à Montpellier</p>{% endif %}</p>
        {% endif %}

        {% set numberOfContacts = contacts | length %}
        <p>J'ai {{ numberOfContacts }} contacts qui peuvent être contactés.</p>

        {% for contact in contacts %}
            <li><a href="{{ path('contact') }}/{{ contact.name | lower }}">{{ contact.name }}</a></li>
        {% endfor %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}

        {# footer #}
        {% include './includes/footer.html.twig' %}
    </div>
{% endblock %}
